@font-face { 
  font-family: 'ProximaNova';
  src: url('file:../fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

//VARIABLES
$main-green: #00cc99;
$main-black: #262728;
$logo-font: ProximaNova;
$main-font: 'Open Sans', sans-serif;


//setting things to 0
* {
  margin: 0;
  padding: 0;
}

// containers and body
body {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.inner-container {
  max-width: 600px;
  width: 96%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder { color: white; opacity: 0.5; }
:-moz-placeholder { color: white; opacity: 0.5; }
::-moz-placeholder { color: white; opacity: 0.5; }
:-ms-input-placeholder { color: white; opacity: 0.5; }


//main image on top
#hero-image-container {
  background: url('../imgs/header-image.jpg');
  background-position: middle;
  background-repeat: none;
  width: 100%;
  height: 485px;
  overflow: hidden;

  #create-message {
    background-color: rgba(0,204,153,0.7);
    padding: 8% 6% 0 6%;
    top: 200px;
    position: relative;
    border-radius: 3px;

    input {
      background-color: rgba(0,0,0,0);
      color: white;
      border: none;
      display: block;
      margin-bottom: 40px;
      font-size: 30px;
      font-family: $main-font;
      width: 100%;
    }

    input:focus {
      outline: none;
    }

    a {
      color: white;
      font-family: $main-font;
      text-decoration: none;
      opacity: 0.5;
      margin-bottom: 10px;
      display: inline-block;

        img {
          padding: 10px 10px 10px 0;
        }

        span {
          padding: 10px 10px 10px 0;
          top: -10px;
          position: relative;
          display: inline-block;
          color: white;
          margin-right: 20px;
        }
    }
    a:hover {
      opacity: 1;
    }
  }
}


//navigation
#nav {
  z-index: 1;
  background-color: $main-black;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;

  #logo {
    padding-right: 10px;
  }

  img {
    margin: 15px 0 0 15px;
  }

  span {
    font-family: $logo-font;
    text-decoration: none;
    top: -5px;
    position: relative;
  }

  //word simply in logo
  #simply-logo {
    color: #686e76;
    padding: 10px 0;
  }

  //word social in logo
  #social-logo {
    color: #bec3cc;
    padding: 10px 10px 10px 0;
  }

  //right side of nav
  .right {

    right: 0;
    top: 0;
    position: absolute;

    img {
      height: 30px;
      margin: 15px 15px 0 15px;
    }

    #profile-picture {
      margin-right: 0;
    }

    .arrow {
      height: 4px;
      margin-left: 10px;
      position: relative;
      top: -12px;
    }

    //search bar
    input {
      background-color: $main-black;
      border-radius: 3px;
      border: solid 1px #44474b;
      height: 28px;
      width: 198px;
      position: relative;
      top: -10px;
      background: url('../imgs/search.svg');
      background-position: 95% 50%;
      background-repeat:no-repeat;
      color: white;
      font-family: $main-font;
      display: inline-block;
    }

    #mobile-search {
      display: none;
    }

    input:focus {
      outline: auto 5px $main-green
    }

    //avatar and drop down
    #avatar{
      display: inline-block;
      position: relative;
      padding-bottom: 15px;

      #avatar-drop-down {
        width: 96px;
        background-color: white;
        border-radius: 3px;
        position: absolute;
        margin: 5px 0px 0 -15px;
        display: none;

        :after {
          bottom: 100%;
          left: 80%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: white;
          border-width: 5px;
          margin-left: -5px;
        }

        a {
          text-decoration: none;
          font-family: $main-font;
          display: block;
          width: 80%;
          color: #70767f;
          font-size: 12px;
          padding: 10%;
          border-bottom: 1px solid #dee1e5;
        }

        a:last-child {
          border-bottom: none;
        }

        a:hover {
          background-color: $main-green;
          color: white;
        }
      }
    }
  }
}

//sub nav on the hero image
#subnav {
  width: 100%;
  position: relative;
  top: 260px;

  a {
    padding: 5px;
    padding-bottom: 16px;
    opacity: 0.5;
  }

  a:hover {
    opacity: 1; 
  }

  //buttons on left side
  #filters {
    display: inline-block;

    a {
      font-family: $main-font;
      font-weight: 600;
      color: white;
      font-size: 12px;
      margin-right: 25px;
      text-decoration: none;
      border-bottom: 4px solid rgba(0,0,0,0.0);
    }

    a:hover {
      border-bottom: 4px solid $main-green;   
    }

    .selected {
      border-bottom: 4px solid $main-green;
      opacity: 1;
    }
  }

  //buttons on right side
  .right {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;

    .selected {
      opacity: 1;
    }

    #tiles, #list {
      width: 12px;
      display: block;
      float: left;
      margin-left: 10px;

      .list-bar {
        width: 9px;
        margin: 0 auto;
        height: 1px;
        margin: 1.5px 1.5px 3px 1.5px;
        background-color: white;
      }

      .tile-button {
        width: 3px;
        height: 3px;
        margin: 1.5px;
        float: left;
        background-color: white;

      }
    }
  }
}

//posts

.grid {
  width: 100%;
  margin: 0 auto;
}

.grid-container {
  width: 1200px;
  margin: 0 auto;
}

.grid-item {
  width: 375px;
}


#posts {
  font-family: $main-font;
  color: #3f454d;
  position: relative;
  
  .post-image {
    position: relative;
  }

  .post {
    border: 1px solid #dee1e5;
    border-radius: 3px;
    margin-top: 20px;
    position: relative;

    .right-bottom {
      display: none;
      margin: 20px;
    }

    //buttons on right of post
    .right {
      position: absolute;
      right: 0;
      top: 0;
    }

    .right, .right-bottom {
      float: right;

      img {
        margin-left: 20px;
      }

      //time stamp
      .time-ago {
        font-size: 14px;
        font-family: $main-font;
        color: #bec3cc;
        display: inline;
        margin-left: 20px;
        top: -2px;
        position: relative;
      }
    }

    .post-feature-img {
      width: 100%;
      margin-bottom: -6px;
      border-radius: 0 0 3px 3px;
    }

    .play-button {
      position: absolute;
      left: 0;
      margin: 0 auto;
      right: 0;
      top: 50%;
      width: 100px;
      height: 100px;
      background-image: url("../imgs/play-button.png");
    }

    .play-button:hover {
      background-image: url('../imgs/play-button-hover.png');
    }

    //post content with out photo
    .post-content {
      margin: 20px;
    
      .post-head {
        width: 100%;
        position: relative;

        h4 {
          font-size: 16px;
          display: inline-block;
          margin-bottom: 10px;
        }

      }

      .expand {
        color: #bec3cc;
        font-size: 12px;
        margin-top: 20px;

        .right-bottom {
          margin: 0;
          position: absolute;
          right: 20px;
        }
      }

      .arrow {
        position: relative;
        top: -1px;
        margin-left: 5px;
      }
    }

    p {
      font-size: 15px;
    }

    //image for post
    .post-image {
      img {
        border-radius: 3px;
        position: absolute;
        top: 0;
        width: 40px;
        height: 40px;
      }
    }

    .post-info {
      display: inline-block;
      margin-left: 55px;
      width: 90%;
    }

    .link {
      color: #bec3cc;
    }
  }
}

//load more
#load-more {
  font-family: $main-font;
  color: #bec3cc;
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 3px;
  margin-top: 100px;
}

#load-more:hover {
  background-color: #bec3cc;
  color: white; 
}


//footer
footer {
  border-top: 1px solid $main-green;
  padding: 20px 0;
  margin-top: 100px;
  text-align: center;
  font-size: 11px;

  nav {

    a {
      font-family: $main-font;
      color: $main-green;
      padding: 0 10px;
    }

    a:hover {
      color: #70767f;
    }

    a:last-child {
      color: #70767f;
    }

    a:last-child:hover{
      color: $main-green;
    }
  }
}

//modal for creating new message
#new-message-model {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  font-family: $main-font;
  display: none;

  #new-message-box {
    width: 96%;
    background-color: #dee1e5;
    border-radius: 3px;
    margin-top: 20%;
    padding: 10px 0;
    position: relative;

    #new-message-exit {
      position: absolute;
      right: -20px;
      top: -20px;
    }

    #new-message-input {
      margin: 10px 20px;

      h3 {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
        color: #70767f;
      }

      textarea {
        border: none;
        width: 96%;
        padding: 2%;
        border-radius: 2px;
        height: 80px;
        resize: none;
        margin-bottom: 10px;
      }

      textarea:focus {
        outline: none;
      }

      #new-message-buttons {
        img {
          padding-right: 10px;
        }

        a {
          color: $main-black;
          opacity: 0.5;
        }

        a:first-child {
          padding-right: 50px;
        }

        a:hover {
          opacity: 1;
        }

        button {
          float: right;
          background-color: $main-green;
          padding: 10px;
          width: 75px;
          border: none;
          border-radius: 2px;
          color: white;
          text-align: center
        }

        button:hover {
          background-color: $main-black;
          color: white;
        }
      }
    }
  }
}

//settings page
#setting {
  padding-top: 100px;
  font-family: $main-font;
    
  h1 {
    font-weight: 300;
    color: #3f454d;
    margin-bottom: 40px;
  }

  .section {
    border-bottom: 1px solid #dee1e5;
    position: relative;
    margin-bottom: 50px;

    h3 {
      font-size: 13px;
      color: #70767f;
      margin-bottom: 30px;
    }


    #change-photo {
      width: 85px;
      display: inline-block;
      position: absolute;

      img {
        border-radius: 3px;
      }

      button {
        width: 100%;
        border: 1px solid #dee1e5;
        background-color: white;
        color: #dee1e5;
        font-size: 12px;
        height: 30px;
        border-radius: 3px;
        margin-top: 5px;
      }

      button:focus {
        outline: none;
      }

      button:hover {
        background-color: $main-green;
        color: white;
      }
    }

    #login-info {
      width: 80%;
      display: inline-block;
      margin-left: 120px;
      position: relative;

      input {
        border-radius: 3px;
        border: solid 1px #bec3cc;
        padding: 8px 8px 8px 38px;
        width: 80%;
        margin-bottom: 20px;
        font-size: 16px;
        color: #3f454d;
        background-repeat: no-repeat;
        background-position: 2.5% 50%;
      }

      input:focus {
        outline: none;
        border: 1px solid $main-green;
      }

      #name-input {
        background-image: url('../imgs/name-icon.svg');
      }

      #name-input:focus {
        background-image: url('../imgs/name-icon-selected.svg');
      }

      #email-input {
        background-image: url('../imgs/email-icon.svg');
      }

      #email-input:focus {
        background-image: url('../imgs/email-icon-selected.svg');
      }

      #password-input {
        background-image: url('../imgs/lock-icon.jpg');
        color: #c7c9cc;
      }

      #password-input:focus {
        background-image: url('../imgs/lock-icon-selected.jpg');
        color: $main-green;
      }

      // #save {
      //   width: 89.5%;
      //   border-radius: 3px;
      //   border: solid 1px #bec3cc;
      //   margin-bottom: 20px;
      //   display: inline-block;

      #confirm-input {
        background-image: url('../imgs/lock-icon.jpg');
        color: #c7c9cc;
        // border: none;
        // margin-bottom: 0;
        // width: 60%;
      }

      #confirm-input:focus {
        background-image: url('../imgs/lock-icon-selected.jpg');
        color: $main-green;
      }

      button {
        position: absolute;
        display: inline-block;
        width: 50px;
        float: right;
        background-color: transparent;
        color: #c7c9cc;
        height: 32px;
        right: 51px;
      }

      button:hover {
        border: none;
        color: $main-green;
      }
    }
  }
  #notifications {
    span {
      position: relative;
      top: -8px;
      color: #70767f;
      display: inline-block;
      width: 81%;
    }

    #toggled-on {
      background-color: $main-green;
    }

    .toggle {
      height: 25px;
      width: 50px;
      border-radius: 12.5px;
      background-color: #dee1e5;
      display: inline-block;
      margin: 0 20px 20px 0;

      .circle {
        background-color: white;
        height: 23px;
        width: 23px;
        border-radius: 11.5px;
        position: relative;
        margin: 1px;
        display: inline-block;
      }
    }
  }

  #privacy {

    div {
      margin-bottom: 20px;

      input[type="radio"], input[type="checkbox"] {
        margin-right: 20px;
        border: solid 1px #bec3cc;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        height: 15px;
        position: relative;
        width: 15px;
        -webkit-appearance: none;
        display: inline-block;
        outline: none;
      }

      input[type="radio"]:checked, input[type="checkbox"]:checked {
        background-color: $main-green;
        -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
        -moz-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
        box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
      }

      span {
        position: relative;
        top: -2px;
        color: #70767f;
      }
    }

  }
  button {
    background-color: $main-green;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  button:hover {
    border: 1px solid #dee1e5;
    background-color: white;
    color: #dee1e5;
  }

  button:focus {
    outline: none;
  }
}

//media queries 

@media screen and (max-width : 1200px) {
  .grid-container {
  width: 800px;
  }
}

@media screen and (max-width : 800px) {
  .grid-container {
  width: 400px;
  }
}

@media screen and (max-width : 550px) {

  #nav {

    .right {

      #mobile-search {
        display: inline-block;
      }

      input {
        position: fixed;
        margin: 0 auto;
        left: 0;
        right: 0;
        margin-top: 75px;
        background-color: $main-black;
        padding: 2%;
        width: 96%;
        display: none;
      }
    }
  }

  #posts {
    
    .post {

      .post-info {
        width: 89%;
      }
    }
  }

  #setting {

    .section {
      
      #login-info {

        input {
          width: 70%;
        }
      }

    }

    button {
      width: 100%;
    }
  }

}

@media screen and (max-width : 433px) {
  #notifications {

    #first-toggle {
      top: -10px;
      position: relative;
    }
  }

  #posts {
    
    .post {

      .post-info {
        width: 85%;
      }
    }
  }
}

