@font-face { 
  font-family: 'ProximaNova';
  src: url('file:../fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$main-green: #00cc99;
$main-black: #262728;
$logo-font: ProximaNova;
$main-font: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.inner-container {
  max-width: 600px;
  width: 96%;
  margin: 0 2%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#hero-image-container {
  background: url('../imgs/header-image.jpg');
  background-position: middle;
  background-repeat: none;
  width: 100%;
  height: 485px;
  overflow: hidden;

  // #header-img {
  //   height: 485px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  #create-message {
    background-color: rgba(0,204,153,0.7);
    padding: 8% 8% 0 8%;
    width: 84%;
    top: 200px;
    position: relative;
    border-radius: 3px;

    input {
      background-color: rgba(0,0,0,0);
      border: none;
      display: block;
      margin-bottom: 40px;
      font-size: 30px;
      font-family: $main-font;
      width: 100%;
      // ::-webkit-input-placeholder { color: white; }
      // :-moz-placeholder { color: white; }
      // ::-moz-placeholder { color: white; }
      // :-ms-input-placeholder { color: white; }
    }

    input:focus {
      outline: none;
    }

    a {
      color: white;
      font-family: $main-font;
      text-decoration: none;
      opacity: 0.5;
      margin-bottom: 10px;
      display: inline-block;

        img {
          padding: 10px 10px 10px 0;
        }

        span {
          padding: 10px 10px 10px 0;
          top: -10px;
          position: relative;
          display: inline-block;
          color: white;
          margin-right: 20px;
        }
    }
    a:hover {
      opacity: 1;
    }
  }
}

#nav {
  z-index: 1;
  background-color: $main-black;
  height: 60px;
  position: fixed;
  width: 100%;

  #logo {
    padding-right: 10px;
  }

  img {
    margin: 15px 0 0 15px;
  }

  span {
    font-family: $logo-font;
    text-decoration: none;
    top: -5px;
    position: relative;
  }

  #simply-logo {
    color: #686e76;
    padding: 10px 0;
  }

  #social-logo {
    color: #bec3cc;
    padding: 10px 10px 10px 0;
  }

  .right {
    float: right;
    display: inline-block;

    img {
      height: 30px;
      margin: 15px 15px 0 15px;
    }

    #profile-picture {
      margin-right: 0;
    }

    #arrow {
      height: 4px;
      margin-left: 10px;
      position: relative;
      top: -12px;
    }

    input {
      background-color: $main-black;
      border-radius: 3px;
      border: solid 1px #44474b;
      height: 28px;
      width: 198px;
      position: relative;
      top: -10px;
      background: url('../imgs/search.svg');
      background-position: 95% 50%;
      background-repeat:no-repeat;
      color: white;
      font-family: $main-font;
      display: inline-block;
    }

    #mobile-search {
      display: none;
    }

    input:focus {
      outline: auto 5px $main-green
    }

    #avatar{
      display: inline-block;
      position: relative;
      padding-bottom: 15px;

      #avatar-drop-down {
        width: 96px;
        background-color: white;
        border-radius: 3px;
        position: absolute;
        margin: 5px 0px 0 -15px;
        display: none;

        :after {
          bottom: 100%;
          left: 80%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: white;
          border-width: 5px;
          margin-left: -5px;
        }

        a {
          text-decoration: none;
          font-family: $main-font;
          display: block;
          width: 80%;
          color: #70767f;
          font-size: 12px;
          padding: 10%;
          border-bottom: 1px solid #dee1e5;
        }

        a:last-child {
          border-bottom: none;
        }

        a:hover {
          background-color: $main-green;
          color: white;
        }
      }
    }
  }
}

#subnav {
  width: 100%;
  position: relative;
  top: 260px;

  a {
    padding: 5px;
    padding-bottom: 16px;
    opacity: 0.5;
  }

  a:hover {
    opacity: 1; 
  }

  #filters {
    display: inline-block;

    a {
      font-family: $main-font;
      font-weight: 600;
      color: white;
      font-size: 12px;
      margin-right: 25px;
      text-decoration: none;
      border-bottom: 4px solid rgba(0,0,0,0.0);
    }

    a:hover {
      border-bottom: 4px solid $main-green;   
    }
  }

  .right {
    float: right;
    display: inline-block;

    #tiles, #list {
      width: 12px;
      display: block;
      float: left;
      margin-left: 10px;

      .list-bar {
        width: 9px;
        margin: 0 auto;
        height: 1px;
        margin: 1.5px 1.5px 3px 1.5px;
        background-color: white;
      }

      .tile-button {
        width: 3px;
        height: 3px;
        margin: 1.5px;
        float: left;
        background-color: white;

      }
    }
  }
}

$width-name: max-width;
$target-width: 550px;

@media screen and ($width-name : $target-width) {

  #nav {

    .right {

      #mobile-search {
        display: inline-block;
      }

      input {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        margin-top: 75px;
        background-color: $main-black;
        padding: 2%;
        width: 96%;
        display: none;
      }
    }
  }
}
