@font-face {
  font-family: 'ProximaNova';
  src: url("file:../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto; }

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto; }

.inner-container {
  max-width: 600px;
  width: 96%;
  margin: 0 auto; }

a {
  text-decoration: none; }

::-webkit-input-placeholder {
  color: white;
  opacity: 0.5; }

:-moz-placeholder {
  color: white;
  opacity: 0.5; }

::-moz-placeholder {
  color: white;
  opacity: 0.5; }

:-ms-input-placeholder {
  color: white;
  opacity: 0.5; }

#hero-image-container {
  background: url("../imgs/header-image.jpg");
  background-position: middle;
  background-repeat: none;
  width: 100%;
  height: 485px;
  overflow: hidden; }
  #hero-image-container #create-message {
    background-color: rgba(0, 204, 153, 0.7);
    padding: 8% 6% 0 6%;
    top: 200px;
    position: relative;
    border-radius: 3px; }
    #hero-image-container #create-message input {
      background-color: transparent;
      border: none;
      display: block;
      margin-bottom: 40px;
      font-size: 30px;
      font-family: "Open Sans", sans-serif;
      width: 100%; }
    #hero-image-container #create-message input:focus {
      outline: none; }
    #hero-image-container #create-message a {
      color: white;
      font-family: "Open Sans", sans-serif;
      text-decoration: none;
      opacity: 0.5;
      margin-bottom: 10px;
      display: inline-block; }
      #hero-image-container #create-message a img {
        padding: 10px 10px 10px 0; }
      #hero-image-container #create-message a span {
        padding: 10px 10px 10px 0;
        top: -10px;
        position: relative;
        display: inline-block;
        color: white;
        margin-right: 20px; }
    #hero-image-container #create-message a:hover {
      opacity: 1; }

#nav {
  z-index: 1;
  background-color: #262728;
  height: 60px;
  position: fixed;
  width: 100%; }
  #nav #logo {
    padding-right: 10px; }
  #nav img {
    margin: 15px 0 0 15px; }
  #nav span {
    font-family: ProximaNova;
    text-decoration: none;
    top: -5px;
    position: relative; }
  #nav #simply-logo {
    color: #686e76;
    padding: 10px 0; }
  #nav #social-logo {
    color: #bec3cc;
    padding: 10px 10px 10px 0; }
  #nav .right {
    float: right;
    display: inline-block; }
    #nav .right img {
      height: 30px;
      margin: 15px 15px 0 15px; }
    #nav .right #profile-picture {
      margin-right: 0; }
    #nav .right #arrow {
      height: 4px;
      margin-left: 10px;
      position: relative;
      top: -12px; }
    #nav .right input {
      background-color: #262728;
      border-radius: 3px;
      border: solid 1px #44474b;
      height: 28px;
      width: 198px;
      position: relative;
      top: -10px;
      background: url("../imgs/search.svg");
      background-position: 95% 50%;
      background-repeat: no-repeat;
      color: white;
      font-family: "Open Sans", sans-serif;
      display: inline-block; }
    #nav .right #mobile-search {
      display: none; }
    #nav .right input:focus {
      outline: auto 5px #00cc99; }
    #nav .right #avatar {
      display: inline-block;
      position: relative;
      padding-bottom: 15px; }
      #nav .right #avatar #avatar-drop-down {
        width: 96px;
        background-color: white;
        border-radius: 3px;
        position: absolute;
        margin: 5px 0px 0 -15px;
        display: none; }
        #nav .right #avatar #avatar-drop-down :after {
          bottom: 100%;
          left: 80%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: white;
          border-width: 5px;
          margin-left: -5px; }
        #nav .right #avatar #avatar-drop-down a {
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          display: block;
          width: 80%;
          color: #70767f;
          font-size: 12px;
          padding: 10%;
          border-bottom: 1px solid #dee1e5; }
        #nav .right #avatar #avatar-drop-down a:last-child {
          border-bottom: none; }
        #nav .right #avatar #avatar-drop-down a:hover {
          background-color: #00cc99;
          color: white; }

#subnav {
  width: 100%;
  position: relative;
  top: 260px; }
  #subnav a {
    padding: 5px;
    padding-bottom: 16px;
    opacity: 0.5; }
  #subnav a:hover {
    opacity: 1; }
  #subnav #filters {
    display: inline-block; }
    #subnav #filters a {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      color: white;
      font-size: 12px;
      margin-right: 25px;
      text-decoration: none;
      border-bottom: 4px solid transparent; }
    #subnav #filters a:hover {
      border-bottom: 4px solid #00cc99; }
  #subnav .right {
    float: right;
    display: inline-block; }
    #subnav .right #tiles, #subnav .right #list {
      width: 12px;
      display: block;
      float: left;
      margin-left: 10px; }
      #subnav .right #tiles .list-bar, #subnav .right #list .list-bar {
        width: 9px;
        margin: 0 auto;
        height: 1px;
        margin: 1.5px 1.5px 3px 1.5px;
        background-color: white; }
      #subnav .right #tiles .tile-button, #subnav .right #list .tile-button {
        width: 3px;
        height: 3px;
        margin: 1.5px;
        float: left;
        background-color: white; }

#posts {
  font-family: "Open Sans", sans-serif;
  color: #3f454d;
  margin-bottom: 100px; }
  #posts .post-image {
    position: relative; }
  #posts .post {
    border: 1px solid #dee1e5;
    border-radius: 3px;
    margin: 20px 0; }
    #posts .post .post-feature-img {
      width: 100%;
      margin-bottom: -6px;
      border-radius: 0 0 3px 3px; }
    #posts .post .post-content {
      margin: 20px; }
      #posts .post .post-content .post-head {
        width: 100%; }
        #posts .post .post-content .post-head h4 {
          font-size: 16px;
          display: inline-block;
          margin-bottom: 10px; }
        #posts .post .post-content .post-head .right {
          float: right; }
          #posts .post .post-content .post-head .right img {
            margin-left: 20px; }
          #posts .post .post-content .post-head .right .time-ago {
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            color: #bec3cc;
            display: inline;
            margin-left: 20px;
            top: -2px;
            position: relative; }
    #posts .post p {
      font-size: 15px; }
    #posts .post .post-image img {
      border-radius: 3px;
      position: absolute;
      top: 0;
      width: 40px;
      height: 40px; }
    #posts .post .post-info {
      display: inline-block;
      margin-left: 55px; }
    #posts .post .link {
      color: #bec3cc; }

#load-more {
  font-family: "Open Sans", sans-serif;
  color: #bec3cc;
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 3px; }

#load-more:hover {
  background-color: #bec3cc;
  color: white; }

footer {
  border-top: 1px solid #00cc99;
  padding: 20px 0;
  margin-top: 100px;
  text-align: center;
  font-size: 11px; }
  footer nav a {
    font-family: "Open Sans", sans-serif;
    color: #00cc99;
    padding: 0 10px; }
  footer nav a:hover {
    color: #70767f; }
  footer nav a:last-child {
    color: #70767f; }
  footer nav a:last-child:hover {
    color: #00cc99; }

#new-message-model {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  display: none; }
  #new-message-model #new-message-box {
    width: 96%;
    background-color: #dee1e5;
    border-radius: 3px;
    margin-top: 20%;
    padding: 10px 0;
    position: relative; }
    #new-message-model #new-message-box #new-message-exit {
      position: absolute;
      right: -20px;
      top: -20px; }
    #new-message-model #new-message-box #new-message-input {
      margin: 10px 20px; }
      #new-message-model #new-message-box #new-message-input h3 {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
        color: #70767f; }
      #new-message-model #new-message-box #new-message-input textarea {
        border: none;
        width: 96%;
        padding: 2%;
        border-radius: 2px;
        height: 80px;
        resize: none;
        margin-bottom: 10px; }
      #new-message-model #new-message-box #new-message-input textarea:focus {
        outline: none; }
      #new-message-model #new-message-box #new-message-input #new-message-buttons img {
        padding-right: 10px; }
      #new-message-model #new-message-box #new-message-input #new-message-buttons a {
        color: #262728;
        opacity: 0.5; }
      #new-message-model #new-message-box #new-message-input #new-message-buttons a:first-child {
        padding-right: 50px; }
      #new-message-model #new-message-box #new-message-input #new-message-buttons a:hover {
        opacity: 1; }
      #new-message-model #new-message-box #new-message-input #new-message-buttons button {
        float: right;
        background-color: #00cc99;
        padding: 10px;
        width: 75px;
        border: none;
        border-radius: 2px;
        color: white;
        text-align: center; }
      #new-message-model #new-message-box #new-message-input #new-message-buttons button:hover {
        background-color: #262728;
        color: white; }

#setting {
  padding-top: 100px;
  font-family: "Open Sans", sans-serif; }
  #setting h1 {
    font-weight: 300;
    color: #3f454d;
    margin-bottom: 40px; }
  #setting .section {
    border-bottom: 1px solid #dee1e5;
    position: relative;
    margin-bottom: 50px; }
    #setting .section h3 {
      font-size: 13px;
      color: #70767f;
      margin-bottom: 30px; }
    #setting .section #change-photo {
      width: 85px;
      display: inline-block;
      position: absolute; }
      #setting .section #change-photo img {
        border-radius: 3px; }
      #setting .section #change-photo button {
        width: 100%;
        border: 1px solid #dee1e5;
        background-color: white;
        color: #dee1e5;
        font-size: 12px;
        height: 30px;
        border-radius: 3px;
        margin-top: 5px; }
      #setting .section #change-photo button:focus {
        outline: none; }
      #setting .section #change-photo button:hover {
        background-color: #00cc99;
        color: white; }
    #setting .section #login-info {
      width: 80%;
      display: inline-block;
      margin-left: 120px;
      position: relative; }
      #setting .section #login-info input {
        border-radius: 3px;
        border: solid 1px #bec3cc;
        padding: 8px 8px 8px 38px;
        width: 80%;
        margin-bottom: 20px;
        font-size: 16px;
        color: #3f454d;
        background-repeat: no-repeat;
        background-position: 2.5% 50%; }
      #setting .section #login-info input:focus {
        outline: none;
        border: 1px solid #00cc99; }
      #setting .section #login-info #name-input {
        background-image: url("../imgs/name-icon.svg"); }
      #setting .section #login-info #name-input:focus {
        background-image: url("../imgs/name-icon-selected.svg"); }
      #setting .section #login-info #email-input {
        background-image: url("../imgs/email-icon.svg"); }
      #setting .section #login-info #email-input:focus {
        background-image: url("../imgs/email-icon-selected.svg"); }
      #setting .section #login-info #password-input {
        background-image: url("../imgs/lock-icon.jpg");
        color: #c7c9cc; }
      #setting .section #login-info #password-input:focus {
        background-image: url("../imgs/lock-icon-selected.jpg");
        color: #00cc99; }
      #setting .section #login-info #confirm-input {
        background-image: url("../imgs/lock-icon.jpg");
        color: #c7c9cc; }
      #setting .section #login-info #confirm-input:focus {
        background-image: url("../imgs/lock-icon-selected.jpg");
        color: #00cc99; }
      #setting .section #login-info button {
        position: absolute;
        display: inline-block;
        width: 50px;
        float: right;
        background-color: transparent;
        color: #c7c9cc;
        height: 32px;
        right: 51px; }
      #setting .section #login-info button:hover {
        border: none;
        color: #00cc99; }
  #setting #notifications span {
    position: relative;
    top: -8px;
    color: #70767f;
    display: inline-flex;
    width: 81%; }
  #setting #notifications #toggled-on {
    background-color: #00cc99; }
  #setting #notifications .toggle {
    height: 25px;
    width: 50px;
    border-radius: 12.5px;
    background-color: #dee1e5;
    display: inline-block;
    margin: 0 20px 20px 0; }
    #setting #notifications .toggle .circle {
      background-color: white;
      height: 23px;
      width: 23px;
      border-radius: 11.5px;
      position: relative;
      margin: 1px;
      display: inline-block; }
  #setting #privacy input[type="radio"], #setting #privacy input[type="checkbox"] {
    margin: 0 20px 20px 0;
    border: solid 1px #bec3cc;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
    display: inline-flex;
    outline: none; }
  #setting #privacy input[type="radio"]:checked, #setting #privacy input[type="checkbox"]:checked {
    background-color: #00cc99;
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    box-shadow: inset 0px 0px 0px 2px white; }
  #setting #privacy span {
    position: relative;
    top: -2px;
    color: #70767f; }
  #setting button {
    background-color: #00cc99;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500; }
  #setting button:hover {
    border: 1px solid #dee1e5;
    background-color: white;
    color: #dee1e5; }
  #setting button:focus {
    outline: none; }

@media screen and (max-width: 550px) {
  #nav .right #mobile-search {
    display: inline-block; }
  #nav .right input {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 75px;
    background-color: #262728;
    padding: 2%;
    width: 96%;
    display: none; }
  #setting .section #login-info input {
    width: 70%; }
  #setting button {
    width: 100%; } }
